AddressFamily inet

# These two settings together will make OpenSSH log users out after 15 minutes.
ClientAliveInterval 900
ClientAliveCountMax 0

MaxAuthTries 3
MaxSessions 3
MaxStartups 5
PasswordAuthentication no
PermitEmptyPasswords no
# Root login is needed for Heketi to manage drives.
PermitRootLogin yes
PrintLastLog yes
PrintMotd yes
Protocol 2
PubkeyAuthentication yes
StrictModes yes
TCPKeepAlive yes
UseDNS no
UsePrivilegeSeparation yes
X11Forwarding no

# Subsystems
Subsystem sftp /usr/lib/openssh/sftp-server
